.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom:-20px !important;
    border: 1px solid transparent;
}

.navbar-inverse
{
background-repeat: repeat-x;
    border-radius: 0px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}