@media all and (min-width: 480px) {
    .signup {
      padding: 100px 0;
   
    }
  
    .signup form {
      margin: 0 auto;
      max-width: 320px;
  
    }
    .otp form {
      margin: 0 auto;
      max-width: 320px;
  
    }
  }
  .signup {
    padding: 27px 105px;
    
  }
  .otppop{
      position: absolute;
      z-index: 2;
      width: 1000px;
      height: 400px;
      background: rgb(23, 22, 22);
      padding: 174px;
      top: 156px;
      left: 171.492px;
  
  }